<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sondsara.v_scan">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="v-scan"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sondsara.v_scan.MainActivity"
            android:label="v-scan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sondsara.v_scan.ZBarScannerActivity"
            android:label="v-scan"
            android:screenOrientation="landscape" >
        </activity>

        <activity
            android:name="com.sondsara.v_scan.Analyze"
            android:label="Analyze"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.sondsara.v_scan.Lookup"
            android:label="Lookup"
            android:screenOrientation="portrait" >

            <!--<meta-data
                android:name="android.app.default_searchable"
                android:value="com.sondsara.v_scan.Search" />-->
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Search" />

        <activity
            android:name=".Search"
            android:parentActivityName=".Lookup"
            android:allowEmbedded="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

    </application>

</manifest>
